body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background: linear-gradient(254deg, #e1e456, #94b6d2, #f53636, #1bc37a, #b924e4, #24c9e4, #e4e024);
    background-size: 1400% 1400%;
    -webkit-animation: AnimationName 34s ease infinite;
    -moz-animation: AnimationName 34s ease infinite;
    animation: AnimationName 34s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
}

.p5Canvas {
    display: block;
    margin: auto;
    width: auto;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input{
    border: none;
    margin: 10px;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}


button{
    border: none;
    background-color: lightgrey;
    padding: 5px;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
